<div class="row footer">
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<img src="" alt="">
			</div>
			<div class="col-md-4 col-xs-12">
				<ul>
					<li><a href="">关于我们</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">招聘计划</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-xs-12">
				<ul>
					<li><a href="">音画TEAM</a></li>
					<li><a href="">帮助</a></li>
					<li><a href="">FQ</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<p><i class="glyphicon glyphicon-phone-alt"></i>电话：21232321312321</p>
		<p><i class="glyphicon glyphicon-compressed"></i>地址：阿萨德大厦健康登记卡</p>
	</div>
</div>