{% extends 'layout.html' %}

{% block content %}

{% include 'navbar.html' %}
{% include 'focus.html' %}

<div class="container">
	<div class="row">
		<div class="col-md-8 title-content-m">
			<h2>音画方案</h2>
			<div class="con fangan">
				<div class="row">
					<img src="../images/index_fangn.png" alt="">
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="title">试验田数量保证</div>
						<div class="content">自营义务教育试验田，确保帮助方案针对有效。</div>
					</div>
					<div class="col-md-3">
						<div class="title">试验田数量保证</div>
						<div class="content">自营义务教育试验田，确保帮助方案针对有效。</div>
					</div>
					<div class="col-md-3">
						<div class="title">试验田数量保证</div>
						<div class="content">自营义务教育试验田，确保帮助方案针对有效。</div>
					</div>
					<div class="col-md-3">
						<div class="title">试验田数量保证</div>
						<div class="content">自营义务教育试验田，确保帮助方案针对有效。</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 title-content-m">
			<h2>音画介绍</h2>
			<div class="con intro">
				<p>北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。</p>
				<div class="download">
					<a href="">年报下载</a>
					<i class="glyphicon glyphicon-folder-open"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="row title-content-m">
		<h2>影响力</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-xs-6 effct">
					<div class="row">
						<img src="" alt="">
						<h3>受益儿童数量：26681</h3>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 effct">
					<div class="row">
						<img src="" alt="">
						<h3>受益儿童数量：26681</h3>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 effct">
					<div class="row">
						<img src="" alt="">
						<h3>受益儿童数量：26681</h3>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 effct">
					<div class="row">
						<img src="" alt="">
						<h3>受益儿童数量：26681</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 title-content-m">
			<h2>最新新闻</h2>
			<div class="con latest">
				<div class="left">
					<h3>音画梦想公益</h3>
					<p>北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过。</p>
				</div>
				<img src="" alt="">
			</div>
		</div>
		<div class="col-md-4 title-content-m">
			<h2>地区</h2>
			<div class="con"></div>
		</div>
	</div>

	<div class="row title-content-m">
		<div class="cop">
			<h2>合作伙伴：</h2>
			<ul>
				<li><a href="">新华网</a></li>
				<li><a href="">西部阳关基金会</a></li>
				<li><a href="">南部工艺基金会</a></li>
				<li><a href="">佳能</a></li>
				<li><a href="">麦田教育基金会</a></li>
				<li><a href="">上海联劝基金会</a></li>
				<li><a href="">中国青少年发展基金会</a></li>
			</ul>
		</div>
	</div>
</div>

{% include 'footer.html' %}
{% endblock %}
