{% extends 'layout.html' %}
{% block title %}信息披露{% endblock %}
{% block content %}
{% include 'navbar.html' %}
{% include 'focus.html' %}
<div class="ad-info">
	<div class="ad-nav-scroll hidden-xs">
		<ul class="ad-nav-spy nav nav-pills nav-stacked">
		  <li role="presentation" class="active"><a href="#report"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>年报财报</a></li>
		  <li role="presentation"><a href="#regulation"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>管理制度</a></li>
		</ul>
	</div>
	<div class="main" data-spy="scroll">
		<div id="report">
			<div class="title row">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
					<h2>年报财报<span class="hidden-xs">/ NIANBAOCAIBAO</span></h2>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-sm-offset-2">
						<div class="download">
							<img src="../images/information/annals.jpg" alt="annals download">
							<a class="annals-caption cover" href="../docs/annals.pdf">点击下载&nbsp;&nbsp;<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
						</div>
						<a class="btn btn-info" href="#" role="button">查看更多&nbsp;&nbsp;&gt;&gt;</a>
					</div>
					<div class="col-md-4 col-sm-5">
						<div class="download">
							<img src="../images/information/finance.jpg" alt="finance download">
							<a class="finance-caption cover" href="javascript:void(0)">音画年报，敬请期待</a>
						</div>
						<a class="btn btn-info" href="#" role="button">查看更多&nbsp;&nbsp;&gt;&gt;</a>
					</div>
				</div>
			</div>
		</div>
		<div id="regulation">
			<div class="title row">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
					<h2>管理制度<span class="hidden-xs">/ GUANLIZHIDU</span></h2>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-sm-offset-2">
						<ul>
							<li><a href="../docs/regulations/音画梦想会议制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想会议制度》</a></li>
							<li><a href="../docs/regulations/音画梦想财务管理细则.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想财务管理细则》</a></li>
							<li><a href="../docs/regulations/音画梦想档案管理制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想档案管理制度》</a></li>
							<li><a href="../docs/regulations/音画梦想重大事项报告制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想重大事项报告制度》</a></li>
							<li><a href="../docs/regulations/音画梦想印章管理制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想印章管理制度》</a></li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-5">
						<ul>
							<li><a href="../docs/regulations/音画梦想信息披露制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想信息披露制度》</a></li>
							<li><a href="../docs/regulations/音画梦想绩效考核制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想绩效考核制度》</a></li>
							<li><a href="../docs/regulations/音画梦想人力资源管理制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想人力资源管理制度》</a></li>
							<li><a href="../docs/regulations/音画梦想财务管理制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想财务管理制度》</a></li>
							<li><a href="../docs/regulations/音画梦想办公用品管理制度.zip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>《音画梦想办公用品管理制度》</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}