<nav class="navbar navbar-default navheader">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"> 首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">关于音画</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">音画项目 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">音画项目1</a></li>
            <li><a href="#">音画项目2</a></li>
            <li><a href="#">音画项目3</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">信息披露 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">信息披露1</a></li>
            <li><a href="#">信息披露2</a></li>
            <li><a href="#">信息披露3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">加入音画 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">加入音画1</a></li>
            <li><a href="#">加入音画2</a></li>
            <li><a href="#">加入音画3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 支持我们 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">支持我们1</a></li>
            <li><a href="#">支持我们2</a></li>
            <li><a href="#">支持我们3</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">language <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">中文</a></li>
            <li><a href="#">英文</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>