{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news15">
	<div class="row ad-newsd-title">
		<div class="co(tx)l-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span>/ XINWEN</span></h2>
			<button type="button" class="btn btn-info ad-newsd-home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《 福特基金会参观音画梦想课程 》</h3>

			<span>发布于：2015.04.26&nbsp;&nbsp;浏览数：347&nbsp;&nbsp;新闻来源：音画梦想</span>

			<p>4月22日，福特基金会一行来到北京市丰台区蓝天丰苑学校。在学校校长和音画梦想理事张轶轲、寇伊，高校委员会主席刘晓晔及志愿者的陪同下，参观了音画梦想艺术课程。</p>

			<img class="thumb" src="../images/news/15/1.jpg">

			<p>下午13时，福特基金会成员来到学校，分别参与了音画梦想的音乐和美术课程。音乐课堂上，福特基金会成员聆听了孩子们学唱的《卢沟谣》，孩子们稚嫩的声音，在音乐中表现出热情与投入感染了他们；美术课堂上，孩子们在志愿者的指导下绘画、剪纸，基金会成员和他们一同围坐在桌边，他们亲自完成作品过程中的专注、认真和展示过程中展现的开心、活跃令基金会成员深受感动。</p>

			<img class="thumb" src="../images/news/15/2.jpg">

			<p>参观期间，理事张轶轲还向基金会的工作人员介绍音画梦想社会工作事务所的概况、使命愿景、项目特点以及发展规划。与会的基金会成员对音画梦想为流动儿童艺术教育所做的努力表示了高度的认可和鼓励。通过短暂的课堂参与和项目介绍，他们亲眼看到了流动儿童在志愿者陪伴下表现出的快乐和自信，感受到了音画梦想为流动儿童艺术教育和健康成长所做出的努力和尝试。</p>

			<img class="thumb" src="../images/news/15/3.jpg">

			<p>音画梦想十分重视福特基金会的认可和鼓励。未来，将在流动儿童艺术教育的道路上不断前行，为孩子们感知艺术、丰富内心、发现美好、增强自信做出不懈的努力。</p>

			<p>受邀前来考察的福特基金会是全球著名基金会，作为一个资助机构为全世界有远见、有创新精神的领导者和机构提供资源。基金会在全球10个国家设有办事处，各办事处的工作重点与本国的发展重点相一致。本项目得到了福特基金会好邻居委员会的资助。</p>

			<img class="thumb" src="../images/news/15/4.jpg">
	
			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}