{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsl">
	<div class="row ad-newsl-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span>/ XINWEN</span></h2>
		</div>
	</div>
	<div class="row ad-newsl-content">
		<div class="ad-newsl-left col-md-2 hidden-sm hidden-xs">
			<p class="text-left">“</p>
			让所有外来务工人员子女
			都能享受到艺术教育的机会
			<p class="text-right">”</p>
		</div>
		<div class="ad-newsl-list col-md-8">
			<div class="row">
				<div class="news-container col-md-4 col-sm-6" id="news11">
					<div class="content">
						<img class="thumb" src="../images/news/11/thumb.jpg">
						<div class="summary">
							<h4>音画梦想2015年度春季新学期开课</h4>
							<p>春暖花开，音画梦想的第一次志愿课程已在多所学校开始，志愿者们走进学校，为流动儿童们带来了丰富多彩的艺术课程。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news10">
					<div class="content">
						<img class="thumb" src="../images/news/10/thumb.jpg">
						<div class="summary">
							<h4>音画梦想2015年度春季志愿者开学训练营开营</h4>
							<p>3月9日，音画梦想2015年度春季志愿者开学训练营同时在中国政法大学和首都经济贸易大学举行。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news9">
					<div class="content">
						<img class="thumb" src="../images/news/9/thumb.jpg">
						<div class="summary">
							<h4>音画梦想艺术教育项目荣获“童缘中国”mvp项目评选五佳项目奖</h4>
							<p>2015年3月25日，音画梦想参与“童缘中国”mvp项目评选决赛答辩。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news8">
					<div class="content">
						<img class="thumb" src="../images/news/8/thumb.jpg">
						<div class="summary">
							<h4>音画梦想 童话之旅——流动儿童“3D”艺术一日游</h4>
							<p>2015年3月15日，音画梦想带领天阶社区的孩子们来到北京瞳艺3D错觉艺术馆进行艺术一日游。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news7">
					<div class="content">
						<img class="thumb" src="../images/news/7/thumb.jpg">
						<div class="summary">
							<h4>音画梦想成功入选麦田同行计划2015期伙伴机构</h4>
							<p>北京音画梦想社会工作事务所于2015年2月11日成功入选麦田同行计划2015期伙伴机构。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news6">
					<div class="content">
						<img class="thumb" src="../images/news/6/thumb.jpg">
						<div class="summary">
							<h4>第四届“金帆助航，爱心圆梦”大型公益交响音乐会盛大召开</h4>
							<p>2014年12月16日晚，第四届“金帆助航，爱心圆梦”大型公益音乐会在中山音乐堂拉开帷幕。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news5">
					<div class="content">
						<img class="thumb" src="../images/news/5/thumb.jpg">
						<div class="summary">
							<h4>与首都经济贸易大学会计学院志愿者团签署合作协议</h4>
							<p>10月19日上午，正式任命会计学院志愿者团为音画梦想在首经贸大学的唯一官方指定校园代表。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news4">
					<div class="content">
						<img class="thumb" src="../images/news/4/thumb.jpg">
						<div class="summary">
							<h4>“透过你的眼”打工子弟影展举办 指导委代表出席活动</h4>
							<p>12月22日下午，影展在北京八度空间举办，数十幅由在京打工子弟拍摄的摄影作品展出。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news3">
					<div class="content">
						<img class="thumb" src="../images/news/3/thumb.jpg">
						<div class="summary">
							<h4>“东沙是我家”儿童主题摄影展暨摄影画册发布会在京举行</h4>
							<p>本次展览共展出居住在昌平区北七家镇东沙各庄村的“流动儿童”拍摄的摄影作品200多幅。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news2">
					<div class="content">
						<img class="thumb" src="../images/news/2/thumb.jpg">
						<div class="summary">
							<h4>开展2014年秋季新学期培训</h4>
							<p>音画梦想社于2014年9月13日在前门华风宾馆六层社会组织孵化中心开展了学生管理团队的培训。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news1">
					<div class="content">
						<img class="thumb" src="../images/news/1/thumb.jpg">
						<div class="summary">
							<h4>成功中标福特基金会“好邻居项目”</h4>
							<p>2014年7月，音画梦想经过3个月的项目书审核和项目报告答辩后成功中标。</p>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<!-- <div class="ad-newsl-course col-md-2 hidden-xs">
			<h3>课程通讯</h3>
			2015.4.22
			<h4>福特基金会到北京蓝天丰苑学校参观听课</h4>

			2014.10.23
			<h4>大井兴华小学美术课课程通讯</h4>

			2014.10.22
			<h4>大井兴华小学摄影常规课课程通讯</h4>

			2014.10.18
			<h4>朝阳天阶社区新学期首次音乐常规课通讯</h4>

			2014.10.19
			<h4>北京（前门社区）美术常规课课程通讯</h4>
		</div> -->
	</div>
	<nav class="row ad-newsl-page">
	  <ul class="pagination">
	    <li>
	      <a href="/newslist/p1" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="/newslist/p1">1</a></li>
	    <li class="active"><a>2</a></li>
	    <li class="disabled">
	      <a href="/newslist/p2" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
{% include 'footer.html' %}
{% endblock %}