{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news10">
	<div class="row ad-newsd-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span>/ XINWEN</span></h2>
			<button type="button" class="btn btn-info ad-newsd-home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《 音画梦想2015年度春季志愿者开学训练营开营 》</h3>

			<span>发布于：2015.04.02&nbsp;&nbsp;浏览数：170&nbsp;&nbsp;新闻来源：音画梦想</span>

			<img class="thumb" src="../images/news/10/1.jpg">

			<img class="thumb" src="../images/news/10/2.jpg">

			<p>3月9日，音画梦想2015年度春季志愿者开学训练营同时在中国政法大学和首都经济贸易大学举行，共有60余位志愿者参加了培训。</p>

			<img class="thumb" src="../images/news/10/3.jpg">

			<p>在中国政法大学训练营的培训中，音画梦想理事长张碧巍首先对音画梦想中国进行了详细的介绍，她通过一组数字“1、6、8、20、500”向志愿者们讲述了音画梦想的发展历程和成长故事，也将音画梦想的组织架构、优势以及一些项目的情况向大家做了讲解。张碧巍不仅对音画梦想的现状进行了分析，同时也将未来规划介绍给了志愿者，面对着音画梦想未来光明的前景，志愿者们也信心十足，充满干劲。</p>

			<img class="thumb" src="../images/news/10/4.jpg">

			<p>接下来，来自志愿者服务部的赵爽就志愿者准则、绩效评定及课程信息向志愿者们做了介绍。作为一名合格的志愿者，对于志愿者准则一定要认真遵守，同时在志愿过程中，热情与创意也是必不可少的。志愿者的绩效评定会根据每位志愿者的表现进行考核和打分，表现优秀的志愿者将会获得“优秀志愿者”和“杰出志愿者”称号。而课程信息更是关系到志愿者今后志愿活动的进行，在场志愿者都十分专注地听着负责人的介绍，并做了记录。</p>

			<p>之后，IT部徐雅倩向志愿者们介绍了音画梦想网站与志愿者系统的现状。随后优秀志愿者胡馨分享了自己丰富的志愿经验，通过讲述自己的经历，为新的志愿者的志愿工作提供了借鉴。接下来是志愿者提问阶段，志愿者们纷纷踊跃提问，胡馨也耐心地逐一进行了解答。答疑结束后，胡馨带领志愿者们进行了宣誓，标志着又一批充满热忱的志愿青年，加入了音画梦想大家庭，并致力让每一个流动儿童都能拥有享受艺术教育的机会。</p>

			<img class="thumb" src="../images/news/10/5.jpg">

			<p>在首都经济贸易大学，进行了另一场志愿者培训。来自音画梦想志愿者服务部的行政专员吴婧玉介绍了培训流程后，来自志服部的林峥琪向志愿者们介绍了音画梦想。</p>

			<img class="thumb" src="../images/news/10/6.jpg">

			<p>随后，志愿者服务部的绩效专员韩晓宁对于志愿者准则、绩效评定进行了详细的介绍，她提到志愿者服务部是为全心全意为志愿者服务的部门，志愿者在工作中遇到的问题都可以及时反馈给志服部，志服部会及时为志愿者们解决问题。</p>

			<img class="thumb" src="../images/news/10/7.jpg">

			<img class="thumb" src="../images/news/10/8.jpg">

			<p>接下来，课程管理部课访专员贺家欢讲解了授课相关要求，并提供了相关授课信息。吴婧玉在这之后介绍了音画梦想的IT部门。</p>

			<p>在基本介绍完成后，优秀志愿者徐乾丰受邀作为代表与在场志愿者分享自己的志愿经验。他曾在前门校区教授了一学期的美术课程，并受到了孩子们的好评。他提到与孩子相处有三点需要注意，一是非知识性教育，由于志愿者面对的是小学阶段的儿童，枯燥的知识讲解并不能引起孩子的兴趣，因而应该尝试更为新颖的授课形式；二是思维共振，志愿者应该尝试理解并接近孩子的思维模式，与孩子一同开发想象力；三是肯定性回答，面对年龄较小的儿童，肯定的鼓励将会为他们自信心的培养带来很大的帮助。一个个生动的实例和风趣的语言吸引着志愿者的注意，培训教室时常爆发出阵阵掌声。</p>

			<img class="thumb" src="../images/news/10/9.jpg">

			<img class="thumb" src="../images/news/10/10.jpg">

			<p>优秀社工代表赵文博也到场分享了自己的经验，她结合自己的专业——社工向志愿者们分析了人与人之间沟通的几个关键影响因素。她提到，人有九型人格，当孩子与志愿者的性格碰撞时，作为志愿者不应压抑孩子的性格，而是应该顺从他们的天性，去理解孩子。她用一个有趣的心理小实验为志愿者讲解了关于自我认知和人际交往的知识，令人受益匪浅。</p>

			<img class="thumb" src="../images/news/10/11.jpg">
			<p>在培训会的最后，贺家欢同样带领全体志愿者进行了宣誓。两场志愿者开学训练营在音画梦想工作人员和新入志愿者的共同配合下圆满结束。期待着新学期里志愿者们优秀的表现，为音画梦想的目标——让每一个流动儿童都能拥有享受艺术教育的机会而持续努力！</p>

			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}