{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news6">
	<div class="row ad-newsd-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span>/ XINWEN</span></h2>
			<button type="button" class="btn btn-info"><a href="/newslist/p1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《 第四届“金帆助航，爱心圆梦”大型公益交响音乐会盛大召开 》</h3>

			<span>发布于：2015.01.24&nbsp;&nbsp;浏览数：239&nbsp;&nbsp;新闻来源：音画梦想</span>

			<p>2014年12月16日晚七点半，第四届“金帆助航，爱心圆梦”大型公益交响音乐会在中山音乐堂拉开帷幕。</p>

			<p>此次音乐会是由北京阳光爱心会主办，北京音画梦想社会工作事务所联合主办的年度大型公益活动，旨在为打工子女学校学生、盲人、罕见病患者等特殊群体提供接受音乐教育、欣赏高雅艺术的公益途径。</p>

			<p>北京音画梦想社会工作事务所成立于2010年，2014年10月正式成为北京市民政局注册成立的民办非企单位。作为一家由专业社工和艺术志愿者组成的非营利性社工服务机构，音画梦想在本届音乐会中承担了联合主办的工作，协众知名媒体参与了这场盛大的音乐会，同时也秉承了我们的愿景与使命：致力于通过此次活动为首都流动儿童提供展示艺术教育成果的平台，使其发现美好，增强自信心，提升社交能力，进而形成对城市的归属感和认同感，促进社会和谐。</p>

			<p>该系列交响音乐会已经连续举办三届，取得了较好的社会反响。本届音乐会分为三个部分：首先由阳光爱乐乐团演奏《良宵》、《莫扎特弦乐小夜曲作品K525》等精彩曲目；随后的下半场，是诺益师小学员和阳光爱乐合作互动，联合演绎了《卡门序曲》、《轻骑兵序曲》等经典曲目；最后的公益环节中：盲人诗朗诵《假如给我三天光明》使现场观众为之动容；红丹丹盲人合唱团带来的《雪绒花》更是唤起了很多人的记忆，温情与感动让无数观众热泪盈眶。蒲公英中学合唱团一首《送别》，将音乐会的氛围推向高潮，伴随着阳光爱乐的悠扬伴奏，台上台下共同歌唱：长亭外，古道边，芳草碧连天......</p>

			<p>音乐会完美落下帷幕，公益和爱心的传递将会继续。一场精彩的交响乐盛宴，激起每个人心中洋溢着爱的旋律。这些需要被关注被尊重被爱的群体，用自己的行动和坚持在展示，一如志愿者和爱心人士对公益事业的坚持与热情。</p>

			<p>音画梦想团队将继续携手并进，发挥我们专业性、可持续性的优势，努力实现“让每一个流动儿童都能有享受艺术教育的机会”的愿景。我们会通过举办更多的活动去帮助更多的孩子，让他们在艺术的摇篮里，敢梦想、志飞翔！2014年12月16日晚七点半，第四届“金帆助航，爱心圆梦”大型公益交响音乐会在中山音乐堂拉开帷幕。</p>

			<p>此次音乐会是由北京阳光爱心会主办，北京音画梦想社会工作事务所联合主办的年度大型公益活动，旨在为打工子女学校学生、盲人、罕见病患者等特殊群体提供接受音乐教育、欣赏高雅艺术的公益途径。</p>

			<p>北京音画梦想社会工作事务所成立于2010年，2014年10月正式成为北京市民政局注册成立的民办非企单位。作为一家由专业社工和艺术志愿者组成的非营利性社工服务机构，音画梦想在本届音乐会中承担了联合主办的工作，协众知名媒体参与了这场盛大的音乐会，同时也秉承了我们的愿景与使命：致力于通过此次活动为首都流动儿童提供展示艺术教育成果的平台，使其发现美好，增强自信心，提升社交能力，进而形成对城市的归属感和认同感，促进社会和谐。</p>

			<p>该系列交响音乐会已经连续举办三届，取得了较好的社会反响。本届音乐会分为三个部分：首先由阳光爱乐乐团演奏《良宵》、《莫扎特弦乐小夜曲作品K525》等精彩曲目；随后的下半场，是诺益师小学员和阳光爱乐合作互动，联合演绎了《卡门序曲》、《轻骑兵序曲》等经典曲目；最后的公益环节中：盲人诗朗诵《假如给我三天光明》使现场观众为之动容；红丹丹盲人合唱团带来的《雪绒花》更是唤起了很多人的记忆，温情与感动让无数观众热泪盈眶。蒲公英中学合唱团一首《送别》，将音乐会的氛围推向高潮，伴随着阳光爱乐的悠扬伴奏，台上台下共同歌唱：长亭外，古道边，芳草碧连天......</p>

			<p>音乐会完美落下帷幕，公益和爱心的传递将会继续。一场精彩的交响乐盛宴，激起每个人心中洋溢着爱的旋律。这些需要被关注被尊重被爱的群体，用自己的行动和坚持在展示，一如志愿者和爱心人士对公益事业的坚持与热情。</p>

			<p>音画梦想团队将继续携手并进，发挥我们专业性、可持续性的优势，努力实现“让每一个流动儿童都能有享受艺术教育的机会”的愿景。我们会通过举办更多的活动去帮助更多的孩子，让他们在艺术的摇篮里，敢梦想、志飞翔！</p>

			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}