{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news18">
	<div class="row ad-newsd-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span class="hidden-xs">/ XINWEN</span></h2>
			<button type="button" class="btn btn-info ad-newsd-home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《 音画梦想公益挑战鸡蛋暴走50km圆满成功 》</h3>

			<span>发布于：2015.06.01&nbsp;&nbsp;浏览数：204&nbsp;&nbsp;新闻来源：音画梦想</span>

			<p>50km的行走，三千个身影的汇聚，一场因爱而生的暴走，只为给流动儿童们送去爱心。5月16日，音画梦想团队亲身参与到“一个鸡蛋的暴走”大型公益活动中，在上海枫泾温情开走。本次音画梦想的暴走团队还迎来了上海埃森哲的志愿者们，十分感谢他们对于公益的热爱和对音画梦想的支持！</p>

			<img class="thumb" src="../images/news/18/1.jpg">

			<p>“一个鸡蛋的暴走”是一个平台性公益筹款活动，旨在为多个儿童领域的民间公益项目筹款。在线路设计上，今年枫泾镇也是别具匠心，起点是枫泾古镇吴越广场，徒步在古镇景区，尽享江南水乡美景。四个打卡点也是各具特色。</p>

			<p>一卡是中国农民画村，这里是中国十大魅力乡村，是上海市民最喜欢的乡村；</p>

			<img class="thumb" src="../images/news/18/2.jpg">

			<p>二卡在华普汽车公司，这里是枫泾国家级新能源基地，而康迪新能源汽车的生产就在这里；</p>

			<img class="thumb" src="../images/news/18/3.jpg">

			<p>三卡是金山北站，作为上海西南门户，枫泾在长三角一体化进程中有着不可代替的区位优势；</p>

			<img class="thumb" src="../images/news/18/4.jpg">

			<p>四卡是新义农庄，这个新兴起的农家乐，预兆着新时代农民在致富路上走出的坚挺步伐。</p>

			<img class="thumb" src="../images/news/18/5.jpg">

			<p>经过10个小时的行走，音画梦想团队和上海埃森哲志愿者组成的暴走音画队伍完成了50km的挑战。</p>

			<img class="thumb" src="../images/news/18/6.jpg">

			<p>2015年“一个鸡蛋的暴走”筹款活动将于6月1日结束，截至5月23日下午，在音画梦想成员们的努力下，已筹到近万元善款。音画梦想此行的目的正是为了城市中需要关注的流动儿童们带去温暖和梦想。衷心希望能有更多的爱心人士参与到音画梦想的温暖行动中来！</p>

			<p class="text-center"><strong><a href="http://baozou.lianquan.org/Donate_Init?teamId=1652&donateMode=1" target="_blank">点击此链接，就可即可为这些城市中边缘的花朵们带去你的爱心和温暖！</a></strong></p>

			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}