{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news4">
	<div class="row ad-newsd-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span>/ XINWEN</span></h2>
			<button type="button" class="btn btn-info"><a href="/newslist/p1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《 “透过你的眼”打工子弟影展举办 指导委代表出席活动 》</h3>

			<span>发布于：2014.10.31&nbsp;&nbsp; 浏览数：268&nbsp;&nbsp;新闻来源：中国青少年摄影教育网</span>

			<p>12月22日下午，“透过你的眼”打工子弟系列影展在北京八度空间举办，数十幅由在京打工子弟拍摄的摄影作品展出。影展上同时进行了优秀作品颁奖，以及有关打工子弟艺术支教的发展方向等问题的小型研讨会。</p>

			<p>著名青少年摄影教育家、(全国)青少年摄影教育指导委员会主任、中国摄影家协会教育委员会委员、北京儿童摄影学校(三里屯小学)资深摄影教师刘建昌，(全国)青少年摄影教育指导委员会委员、北京市少年宫资深摄影教师白雪梅，指导委办公室主任刘忠等几位老师，作为指导委代表出席了活动。北京音画梦想社会工作事务所的主要负责人、打工子弟学校代表、媒体代表、社会爱心人士等，以及打工子弟学校北京兴华学校、农民工社区木兰社区的获奖学生代表也出席了活动。</p>

			<p>颁奖会上，刘建昌老师、白雪梅老师向获奖学生代表颁发了《青少年小记者 简明摄影教程》作为奖励，勉励他们继续努力，学好摄影，拍出更多带有儿童时代特有的天真、童趣和视角的作品来，培养艺术创造力，促进综合素质的提升。</p>

			<img class="thumb" src="../images/news/4/1.jpg">
			<p class="text-center"><small>刘建昌老师颁发奖品</small></p>

			<img class="thumb" src="../images/news/4/2.jpg">
			<p class="text-center"><small>白雪梅老师颁发奖品</small></p>

			<p>在随后进行的小型研讨会上，与会代表就本次影展作品开展艺术类公益教育的发展方向、面临问题等，进行了热烈而坦诚的发言。刘建昌和白雪梅老师在发言中，对此次影展活动的主要组织和实施方北京音画梦想社会工作事务所的努力给予了积极评价。希望通过包括青少年摄影教育指导委在内的社会各界爱心机构和人士的共同努力，给予打工子弟这一城市特殊群体更多的关爱，让他们也能享受到摄影艺术教育的熏陶，共享摄影文化的繁荣，热爱生活，用心观察，阳光成长，培养高尚的道德情操和顽强的意志品质，促进综合素质的全面发展。“音画梦想坊”公益组织的主要负责人程姝、张碧巍，青年电影导演丑丑，爱心人士张松凌老师等也在会上发言，表达了乐于积极投身公益的愿望，并且希望今后加强团队建设。</p>

			<img class="thumb" src="../images/news/4/3.jpg">
			<p class="text-center"><small>“音画梦想”负责人张碧巍发言</small></p>

			<img class="thumb" src="../images/news/4/4.jpg">
			<p class="text-center"><small>爱心人士、青年电影导演丑丑发言</small></p>

			<p> 今年下半年，指导委积极参与了在兴华学校开展的打工子弟摄影支教活动，刘建昌、张志刚、白雪梅等老师亲自来到课堂一线，为孩子们教授摄影基本知识和技能，以及如何欣赏作品等，获得了孩子们的热烈欢迎以及学校的高度评价。</p>

			<p class="text-center"><strong>【展出作品】</strong></p>

			<img class="thumb" src="../images/news/4/5.jpg">

			<img class="thumb" src="../images/news/4/6.jpg">

			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}