{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news9">
	<div class="row ad-newsd-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span>/ XINWEN</span></h2>
			<button type="button" class="btn btn-info"><a href="/newslist/p1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《 音画梦想艺术教育项目荣获“童缘中国”mvp项目评选五佳项目奖 》</h3>

			<span>发布于：2015.04.01&nbsp;&nbsp;浏览数：164&nbsp;&nbsp;新闻来源：音画梦想</span>

			<img class="thumb" src="../images/news/9/1.jpg">

			<p>2015年3月25日，北京音画梦想社会工作事务所参与了由中华少年儿童慈善救助基金会举办的“童缘中国”mvp项目评选决赛答辩。共同参与决赛的还有另外四家关注各类儿童服务领域的公益组织。中华儿慈会名誉理事长魏久明先生、副秘书长何培忠参加了本次答辩活动。活动还邀请教育部原基础教育司司长郑增仪先生、全球联合之路大中华区能力建设总监陈文良先生、中国大学生社会实践知行促进计划执委会主任夏军先生、伊顿国际教育集团项目拓展部总监尚栋先生、新浪微公益运营经理张茹玮女士担任评委。</p>

			<p>音画梦想理事长张碧巍通对音画的流动儿童艺术教育项目进行了激情澎湃，感人至深的演讲，从创新性，持续性，专业性，辐射性等不同的角度介绍了流动儿童艺术教育项目，阐述了艺术教育对于流动儿童的重要意义和价值，令在座的各位评委及听众都感受到了教育，尤其是艺术教育对于儿童的巨大力量。</p>

			<img class="thumb" src="../images/news/9/2.jpg">

			<p>随后，专家评委们就音画梦想的志愿者管理模式，项目实施效果等方面进行了详细的了解并对音画梦想的运营模式给予了肯定和改进的建议。</p>

			<img class="thumb" src="../images/news/9/3.jpg">

			<p>最终音画梦想的流动儿童艺术教育项目获得了“五佳项目奖”此次活动为关注儿童各个服务领域的公益组织搭建了良好的沟通平台，并为音画梦想的更加专业，持续的发展提供了学习和改进的建议。</p>

			<img class="thumb" src="../images/news/9/4.jpg">

			<img class="thumb" src="../images/news/9/5.jpg">

			<p>北京音画梦想社会工作事务所希望可以通过参与更多类似的活动，将流动儿童的现状和艺术教育的重要性向社会各界展现，帮助他们拥有平等艺术教育的权利。促进孩子们获得更多的知识和能力，使孩子们健康快乐的成长！</p>

			<p class="text-center"><strong><a href="http://www.ccafc.org.cn/templates/T_Common/index.aspx?nodeid=125&page=ContentPage&contentid=5109" target="_blank">查看儿慈会报道</a></strong></p>

			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}