{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsl">
	<div class="row ad-newsl-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span class="hidden-xs">/ XINWEN</span></h2>
		</div>
	</div>
	<div class="ad-newsl-content">
		<div class="ad-newsl-left col-md-2 hidden-sm hidden-xs">
			<p class="text-left">“</p>
			让所有外来务工人员子女
			都能享受到艺术教育的机会
			<p class="text-right">”</p>
		</div>
		<div class="ad-newsl-list col-md-8">
			<div class="row">
				<div class="news-container col-md-4 col-sm-6" id="news23">
					<div class="content">
						<img class="thumb" src="../images/news/23/thumb.jpg">
						<div class="summary">
							<h4>志愿之星，照亮未来 ——音画梦想15年秋季第二次志愿者培训</h4>
							<p>2015年10月11日星期日，音画梦想在北京师范大学举办了秋季第二次志愿者培训会。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news22">
					<div class="content">
						<img class="thumb" src="../images/news/22/thumb.jpg">
						<div class="summary">
							<h4>点亮艺术人生音画筑梦童年</h4>
							<p>2015年9月20日，音画梦想秋季志愿者第一次培训会在星河双语学校举办。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news21">
					<div class="content">
						<img class="thumb" src="../images/news/21/thumb.jpg">
						<div class="summary">
							<h4>恭喜音画梦想获得优酷阳光90后先锋代表人物</h4>
							<p>2015年8月8日，音画梦想承蒙众多优酷网友的厚爱参加了优酷阳光90后showtime的活动。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news20">
					<div class="content">
						<img class="thumb" src="../images/news/20/thumb.jpg">
						<div class="summary">
							<h4>音画梦想与JA中国YESxBOP项目20强团队亲密触电</h4>
							<p>2015年8月14日，音画梦想迎来JA中国金字塔低端的创新青年创业培训项目20强团队的参观访问。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news19">
					<div class="content">
						<img class="thumb" src="../images/news/19/thumb.jpg">
						<div class="summary">
							<h4>音画梦想成功入选北京市福利彩票公益金资助社会组织开展公益服务项目</h4>
							<p>音画梦想于2015年6月14日成功入选，并于6月19日在北京市民政局签署了相关项目协议。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news18">
					<div class="content">
						<img class="thumb" src="../images/news/18/thumb.jpg">
						<div class="summary">
							<h4>音画梦想公益挑战鸡蛋暴走50km圆满成功</h4>
							<p>50km的行走，三千个身影的汇聚，一场因爱而生的暴走，只为给流动儿童们送去爱心。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news17">
					<div class="content">
						<img class="thumb" src="../images/news/17/thumb.jpg">
						<div class="summary">
							<h4>音画梦想成功入选桥畔计划2015年合作伙伴机构</h4>
							<p>音画梦想于2015年4月30日成功入选桥畔计划2015年合作伙伴机构名单。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news16">
					<div class="content">
						<img class="thumb" src="../images/news/16/thumb.jpg">
						<div class="summary">
							<h4>音画梦想与广东省与人公益基金会达成一年期合作</h4>
							<p>经过4个月的项目书审核和合作商谈，音画梦想同广东与人基金会在2015年5月达成一年期的合作。</p>
						</div>
					</div>
				</div>
				
				<div class="news-container col-md-4 col-sm-6" id="news15">
					<div class="content">
						<img class="thumb" src="../images/news/15/thumb.jpg">
						<div class="summary">
							<h4>福特基金会参观音画梦想课程</h4>
							<p>4月22日，福特基金会一行来到北京市丰台区蓝天丰苑学校。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news14">
					<div class="content">
						<img class="thumb" src="../images/news/14/thumb.jpg">
						<div class="summary">
							<h4>音画梦想正式进驻“志愿北京”志愿服务平台</h4>
							<p>音画梦想团队经过数月的申请，已于2015年3月下旬获准入驻“志愿北京”志愿服务平台。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news13">
					<div class="content">
						<img class="thumb" src="../images/news/13/thumb.jpg">
						<div class="summary">
							<h4>音画梦想成功入选恩派第二期社会创业孵化训练营伙伴机构</h4>
							<p>北京音画梦想社会工作事务所于2015年3月16日成功入选恩派第二期社会创业孵化训练营伙伴机构。</p>
						</div>
					</div>
				</div>
				<div class="news-container col-md-4 col-sm-6" id="news12">
					<div class="content">
						<img class="thumb" src="../images/news/12/thumb.jpg">
						<div class="summary">
							<h4>音画梦想成功入选蓝海计划第二期合作伙伴机构</h4>
							<p>音画梦想于2014年12月1日成功入选并于12月11日在南都基金会召开了蓝海计划项目促进会。</p>
						</div>
					</div>
				</div>				
			</div>
		</div>
		<!-- <div class="ad-newsl-course col-md-2 hidden-xs">
		</div> -->
	</div>
	<nav class="row ad-newsl-page">
	  <ul class="pagination">
	    <li class="disabled">
	      <a href="/newslist/p1" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li class="active"><a>1</a></li>
	    <li><a href="/newslist/p2">2</a></li>
	    <li>
	      <a href="/newslist/p2" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
{% include 'footer.html' %}
{% endblock %}