{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news23">
	<div class="row ad-newsd-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span>/ XINWEN</span></h2>
			<button type="button" class="btn btn-info ad-newsd-home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《志愿之星，照亮未来 ——音画梦想2015年秋季第二次志愿者培训》</h3>

			<span>发布于：2015.11.03&nbsp;&nbsp;浏览数：139&nbsp;&nbsp;新闻来源：音画梦想</span>

			<p>2015年10月11日星期日，音画梦想社会工作事务所（以下简称音画）在北京师范大学举办了秋季第二次志愿者培训会。管理团队成员早早地就来到了培训地点进行会场布置，下午三点整，志愿者培训准时开始。</p>

			<img class="thumb" src="../images/news/23/1.jpg">

			<p>伴着节奏明快的音乐，本次志愿者培训正式开始。</p>

			<p>学生管理团队主席赵爽系统介绍了音画的概况，志愿者们基本了解了音画的发展、构成和规章制度，并充分意识到音画志愿活动的意义所在和肩上那份沉甸甸的责任。</p>

			<img class="thumb" src="../images/news/23/2.jpg">

			<p>然后由志愿者服务部管理为志愿者详细介绍了音画志愿者绩效考核的相关情况以及奖惩办法，鼓励志愿者做好志愿服务工作。上一期的优秀志愿者代表和课访代表也毫不吝啬地分享了自己的工作经验，讲述了一些在以后工作中可能遇到的问题和解决办法，来帮助志愿者们更好地投入到志愿服务工作中。</p>

			<img class="thumb" src="../images/news/23/3.jpg">

			<p>穿插在整场培训中的一系列“破冰游戏”更使会场气氛变得异常热烈，志愿者们积极参与、彼此认识，逐渐了解和熟悉，增强了团队的整体凝聚力。</p>

			<p>最后，所有志愿者举起右手郑重宣誓：“将尽己所能，不计报酬，让每一个流动儿童都能拥有享受艺术教育的机会！”</p>

			<p>本次培训十分成功，不仅增进了志愿者们之间的感情、为日后的共同授课打下良好基础，更让他们明白自己肩负的使命和责任。星星之火、可以燎原，在志愿者们的共同努力下，我们相信会有越来越多的流动儿童获得更好的艺术教育！</p>
			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}