{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news22">
	<div class="row ad-newsd-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span class="hidden-xs">/ XINWEN</span></h2>
			<button type="button" class="btn btn-info ad-newsd-home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《 点亮艺术人生音画筑梦童年 》</h3>

			<span>发布于：2015.09.28&nbsp;&nbsp;浏览数：162&nbsp;&nbsp;新闻来源：音画梦想</span>

			<img class="thumb" src="../images/news/22/1.jpg">

			<p>2015年9月20日，北京音画梦想社会工作事务所秋季志愿者第一次培训会在星河双语学校举办。</p>

			<img class="thumb" src="../images/news/22/2.jpg">

			<p>上午十时，音画项目团队负责人以及高校管理团队的同学们就已经来到会议现场为志愿者的到来进行精心地准备，希望让他们感受到音画志愿者团队家庭般的温暖和爱。</p>

			<p>下午一时三十分，伴着音画的宣传视频以及悠扬的音乐，志愿者培训会正式拉开序幕。首先由音画梦想高校管理团队主席对音画机构以及活动项目进行了介绍，让志愿者们对音画有了更进一步的了解，并对自己即将参加的志愿服务有了更深的认识。</p>

			<img class="thumb" src="../images/news/22/3.jpg">

			<p>其次，由我们邀请到的原人教版小学音乐教材主编吴老师，从音乐常识，到音乐文化，再到授课技巧面面俱到地为志愿者们进行深度讲解，使志愿者们了解更多音乐知识和授课方式。美术活动手册的编撰代表也对美术课程进行了精彩的介绍。</p>

			<p>接下来，高校管理团队原主席对志愿方案进行讲解，让志愿者更加明确自己的岗位职责、权利、义务和考核标准，以及那一份要为打工子弟学校孩子们承担的沉甸甸的责任。</p>

			<img class="thumb" src="../images/news/22/4.jpg">

			<p>除此之外，音画还为志愿者们安排了一系列活跃气氛的破冰游戏，穿插整个志愿者培训过程，让志愿者们相互认识，增进了解，建立团队意识，加强团队合作，增强志愿者凝聚力。</p>

			<img class="thumb" src="../images/news/22/5.jpg">

			<p>培训的最后，所有志愿者举起右手高声宣誓：将尽己所能，不计报酬，让每一个流动儿童都能拥有享受艺术教育的机会！</p>

			<p>至此此次培训会取得了圆满成功，我们希望此次培训能够成为未来志愿者志愿服务中的明灯，为他们指明正确的方向，也期待着通过音画的志愿团队能够让那些打工子弟学校的学生们的童年绚丽多彩，点亮他们的艺术人生！</p>

			<p class="text-right"><strong>韩欣彤</strong></p>
			<p class="text-right"><strong>2015.9.24</strong></p>

			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}