{% extends 'layout.html' %}
{% block title %}新闻{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-newsd" id="news2">
	<div class="row ad-newsd-title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>新闻<span>/ XINWEN</span></h2>
			<button type="button" class="btn btn-info ad-newsd-home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row ad-newsd-content">
		<div class="col-md-8 col-md-offset-2">
			<h3>《 北京音画梦想社会工作事务所开展2014年秋季新学期培训 》</h3>

			<span>发布于：2014.10.31&nbsp;&nbsp;浏览数：310&nbsp;&nbsp;新闻来源：音画梦想</span>
			<p class="text-center"><strong>【音画梦想学生管理团队培训】</strong></p>


			<p>北京音画梦想社会工作事务所于2014年9月13日在前门附近华风宾馆六层社会组织孵化中心开展了学生管理团队的培训。这次培训共有32名学生管理团队成员参加。主讲人是音画梦想理事长张碧巍和副理事长（埃森哲（北京）咨询公司的高级项目经理）宋欣。</p>

			<p>上午9点整培训正式开始。</p>

			<p>第一个环节是由理事长张碧巍对音画梦想进行一个系统、全面、专业的介绍，让学生管理团队的成员对自己所在的组织有一个更深入的认识，从而加强成员的归属感，方便其在日后开展工作时能更全面地向合作伙伴或者社会公众介绍音画梦想。虽然今天的培训现场少了一些熟悉的面孔，多了一些青涩的脸庞，但无论是新加入的小伙伴，或者是依旧坚守在各自岗位上的“老人”，都在一步步的见证着音画梦想的成长。而且当理事长张碧巍宣布音画梦想已经正式在北京市民政局注册时，培训现场更是爆发出阵阵热烈的掌声，大家都为音画梦想进一步的发展壮大感到由衷的高兴和自豪。</p>

			<img class="thumb" src="../images/news/2/1.jpg">
			<p class="text-center"><small>理事长张碧巍在介绍音画梦想</small></p>

			<p>第二个环节是由各部门负责人对各自部门分工和成员进行介绍。音画梦想的专用PPT模板使整个展示过程专业又精彩，通过各个负责人对各部门及成员的介绍，大家互相增进了了解，对于部门分工也更加清晰，非常有利于以后交叉工作的展开。</p>

			<p>下午的培训在1点45开始。</p>

			<p>第三个环节由张碧巍为成员讲解简历的正确撰写方法和简历写作经验，内容十分贴近大家的实际需求，所有人都听得非常认真并进行了相关记录。平实的语言和丰富的内容让在场的成员收获颇多。</p>

			<p>第四个环节由埃森哲的高级项目经理宋欣为大家讲解“项目管理和沟通技巧”，这位有着丰富的工作经验和演讲技巧的副理事长让“项目管理”这个听起来好像离学生很远的词汇一点点在大家面前揭开了神秘的面纱。台上的主讲人的讲课系统专业又不乏激情，台下的成员们都在认真听讲并做着相关记录。</p>

			<img class="thumb" src="../images/news/2/2.jpg">
			<p class="text-center"><small>副理事长宋欣在为大家介绍项目管理知识</small></p>


			<p>在整个培训的最后，每个成员都认真的填写了《期初培训反馈表》，学生管理团队成员培训圆满成功。</p>

			<p class="text-center"><strong>【音画梦想志愿者培训】</strong></p>

			<p>9月14日上午9点，音画梦想志愿者训练营正式在前门附近华风宾馆六层社会组织孵化中心拉开序幕。</p>

			<p>培训一开始首先由理事长张碧巍向大家介绍了音画梦想，她聊天式的谈话方式打动了在场的每一位志愿者。大家也在这个环节对音画有了进一步的了解。之后，志愿者管理部门又就这学期的志愿活动向大家做了介绍。课程管理部门带领大家一起进行了授课志愿者宣誓。为了大家相互了解，音画梦想的工作人员准备了丰富的破冰活动，带领大家更加熟悉彼此。</p>

			<p>下午的活动音画梦想首先请到了学习幼教专业的卞瑞瑜老师给大家做了培训，气氛十分活跃，大家都被卞老师生动的谈吐吸引，也有很多志愿者就志愿活动提出了很多问题，老师也做出了十分全面的回答。</p>

			<img class="thumb" src="../images/news/2/3.jpg">
			<p class="text-center"><small>卞瑞瑜老师为大家培训幼教知识</small></p>

			<p>接下来，著名的旅行摄影家毛虫老师向大家分享了他的故事。新疆、贵州、西藏、云南，他走过了很多地方，去过了很多贫困的山区，在那里与孩子们留下了一幕幕精彩的瞬间，他的画笔下，所有的孩子都是那么的可爱。孩子们爱画画，爱摄影，爱生活。这些正是音画梦想所希望的。</p>

			<img class="thumb" src="../images/news/2/4.jpg">
			<p class="text-center"><small>毛虫老师给大家讲授摄影知识</small></p>

			<p>最后，音画梦想的课访人员也做了一些有关课堂经验和授课技巧的分享。当培训活动顺利完成的时候，看着授课志愿者脸上开心的表情，我们相信所有的志愿者都已经深入地了解了音画梦想，也对走进那些流动儿童的生活中有了更多的期待。</p>

			<p class="text-center"><strong>【写在最后】</strong></p>

			<p>两天的培训，所有的音画人都为此付出了很多努力。看到大家其乐融融，看到志愿者满足的眼光，音画梦想的全体成员觉得所有的努力都是值得的。希望这次培训在这学期的课程中能对志愿者有所指导和启发，也希望音画梦想的所有志愿者都能更加相信音画梦想，相信自己的志愿付出为流动儿童们带去的价值和意义。我们始终坚信，在我们的努力下，可以让每一个孩子都能拥有享受艺术教育的机会！</p>
			
			<nav class="row ad-newsd-nav">
				<div class="col-xs-6 prev">
					<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>上一篇</button>
				</div>
				<div class="col-xs-6 next">
					<button type="button" class="btn btn-info text-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>下一篇</button>
				</div>
			</nav>
		</div>
	</div>
	
</div>
{% include 'footer.html' %}
{% endblock %}