{% extends 'layout.html' %}
{% block title %}合作项目详情列表{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="container ad-coopl">
	<div class="row title">
		<div class="col-md-8 col-md-offset-2">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			<h2>合作项目详情列表<span class="hidden-xs">/ HEZUOXIANGMUXIANGQINGLIEBIAO</span></h2>
			<a class="btn btn-info" role="button" href="/support#project"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
		</div>
	</div>
	<div class="container">
		<div class="slogan col-md-2 hidden-sm hidden-xs">
			<p class="text-left">“</p>
			让所有外来务工人员子女
			都能享受到艺术教育的机会
			<p class="text-right">”</p>
		</div>			
		<div class="list col-md-8">
			<div class="media">
				<div class="media-left">
					<img class="media-object" src="../images/support/project/01.png" alt="美国福特基金会：好邻居项目">
				</div>
				<div class="media-body">
					<h4 class="media-heading">美国福特基金会：好邻居项目</h4>
					2014年10月，音画梦想参与福特基金会的“好邻居计划”项目并在经过3个月的项目书审核和项目报告答辩后成功中标，获得福特基金会的大力资助。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/02.png" alt="南都公益基金会：蓝海计划"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">南都公益基金会：蓝海计划</h4>
					2014年11月，南都公益基金会累计投入15万元请瑞森德为音画梦想设计筹款战略和筹款产品，系统培养筹款人才。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/03.png" alt="上海联劝公益基金会：一个鸡蛋的暴走项目合作"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">上海联劝公益基金会：一个鸡蛋的暴走项目合作</h4>
					音画梦想成员在上海枫泾参与了由上海联劝基金会举办的“一个鸡蛋的暴走”徒步筹款活动，成员们完成了50km的徒步挑战，并获得了爱心人士2万余元的捐赠款。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/04.png" alt="北京西部阳光农村发展基金会：桥畔计划"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">北京西部阳光农村发展基金会：桥畔计划</h4>
					2015年3月，音画梦想在几百家机构中脱颖而出成功入选由西部阳光基金会举办的桥畔计划。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/05.png" alt="中国麦田教育基金会：同行计划"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">中国麦田教育基金会：同行计划</h4>
					2015年2月，音画梦想在100多家机构中脱颖而出，成功入选由麦田教育基金会举办的麦田同行计划，达成2015年的机构品牌文化建设合作。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/06.png" alt="广东省与人公益基金会"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">广东省与人公益基金会</h4>
					2015年5月，音画梦想同广东与人基金会达成了一年期的舞蹈课程项目合作协议，获得了来自与人基金会的项目资金支持。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/07.png" alt="中华少年儿童慈善救助基金会：童缘中国项目"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">中华少年儿童慈善救助基金会：童缘中国项目</h4>
					2015年2月，音画梦想在几百个项目中脱颖而出，获得由中华儿慈会颁发的童缘“MVP”五佳项目奖。音画梦想成功在中华少儿慈善救助基金会成立专项基金。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/08.png" alt="深圳市公益基金会：中国慈善项目百强"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">深圳市公益基金会：中国慈善项目百强</h4>
					2015年8月，音画梦想项目在超过5000个项目中脱颖而出，获得由深圳公益基金会举办的中国慈善项目大赛慈善百强项目奖。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/09.png" alt="北京市恩派非营利组织发展中心：社会企业孵化项目"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">北京市恩派非营利组织发展中心：社会企业孵化项目</h4>
					2015年3月，音画梦想入选恩派第二期社会创业孵化训练营伙伴机构，将在恩派的专业支持和协助下，完善机构初创期各项工作制度、定位和梳理自我使命及受益人群的需求、明确未来发展目标
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/10.png" alt="中国发展简报"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">中国发展简报</h4>
					
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/11.png" alt="腾讯公益慈善基金会"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">腾讯公益慈善基金会</h4>
					9日，音画梦想参与了腾讯公益基金会举办的“99公益日”活动并成功在腾讯乐捐上募得善款30余万元，其中腾讯公益基金会的配比资金达15万元。
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<img class="media-object"  src="../images/support/project/12.png" alt="明善公益网"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading">明善公益网</h4>
					2015年9月，音画梦想获得由明善公益网评选出的“明善公益榜•年度最具捐赠价值项目”奖并在第四届深圳慈展会上发布。
				</div>
			</div>							
		</div>
	</div>
	<nav class="row page-control">
	  <ul class="pagination">
	    <li class="disabled">
	      <a href="/procooplist/p1" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li class="active"><a>1</a></li>
	    <li class="disabled">
	      <a href="/procooplist/p2" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
{% include 'footer.html' %}
{% endblock %}