{% extends 'layout.html' %}
{% block title %}音画项目{% endblock %}
{% block content %}

{% include 'navbar.html' %}
{% include 'focus.html' %}

<div class="ad-pro">
	<div class="ad-nav-scroll hidden-xs">
		<ul class="ad-nav-spy nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="#core"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>核心项目</a></li>
			<li role="presentation"><a href="#video"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>影像记录</a></li>
			<li role="presentation"><a href="#activity"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>活动纪实</a></li>
			<li role="presentation"><a href="#volunteer"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>志愿者分享</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="core">
			<div class="title">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					<h2>核心项目<span class="hidden-xs">/ HEXINXIANGMU</span></h2>
				</div>
			</div>
			<div class="container">
				<div class="intro col-md-8 col-sm-offset-2">
					“音画梦想——艺术点亮流动童年”项目是由音画梦想为缺乏艺术课程的流动儿童定制的体验式艺术教育课程，将游戏融入课堂，让孩子充分参与其中，享受到一堂在快乐中释放个性、主动创造、激发潜力的课程。
				</div>
				<div class="detail">
					<div class="panel panel-info col-md-8 col-sm-offset-2">
						<div class="panel-heading">项目具体介绍</div>
						<div class="panel-body">
							<img src="../images/project/core/ring.png">
						</div>
					</div>
				</div>
				<div class="advantage">
					<div class="panel panel-info col-md-8 col-sm-offset-2">
						<div class="panel-heading">项目优势</div>
						<div class="panel-body">
							<div class="media col-sm-6">
							  	<div class="media-left media-middle">
							      	<img class="media-object" src="../images/project/core/advantage1.png">
							  	</div>
							  	<div class="media-body">
							    	<h4 class="media-heading">可持续</h4>
							    	产品方案迭代更新，志愿者招募和管理，授课点和高校合作。
							  </div>
							</div>
							<div class="media col-sm-6">
							  	<div class="media-left media-middle">
							      	<img class="media-object" src="../images/project/core/advantage2.png">
							  	</div>
							  	<div class="media-body">
							    	<h4 class="media-heading">宜推广</h4>
							    	教育部门和公益组织，各类城市和贫困山区，贫困儿童学校和社区。
							  </div>
							</div>
							<div class="media col-sm-6">
							  	<div class="media-left media-middle">
							      	<img class="media-object" src="../images/project/core/advantage3.png">
							  	</div>
							  	<div class="media-body">
							    	<h4 class="media-heading">创新性</h4>
							    	艺术教育普及方案，产品课程设计理念，课程质量保证手段。
							  </div>
							</div>
							<div class="media col-sm-6">
							  	<div class="media-left media-middle">
							      	<img class="media-object" src="../images/project/core/advantage4.png">
							  	</div>
							  	<div class="media-body">
							    	<h4 class="media-heading">有效性</h4>
							    	心理需求评估报告，艺术课程内容形式，项目前后测评结果。
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="group">
					<div class="panel panel-info col-md-8 col-sm-offset-2">
						<div class="panel-heading">受益群体</div>
						<div class="panel-body">
							<ul class="nav nav-pills hidden-xs" role="tablist">
							 	<li role="presentation" class="active col-sm-6"><a href="#core-direct" aria-controls="core-direct" data-toggle="tab">直接受益群体</a></li>
								<li role="presentation" class="col-sm-6"><a href="#core-indirect" aria-controls="core-indirect" data-toggle="tab">间接受益群体</a></li>
							</ul>
							<ul class="nav nav-pills visible-xs" role="tablist">
							 	<li role="presentation" class="active col-xs-6"><a href="#core-direct" aria-controls="core-direct" data-toggle="tab">直接</a></li>
								<li role="presentation" class="col-xs-6"><a href="#core-indirect" aria-controls="core-indirect" data-toggle="tab">间接</a></li>
							</ul>
							<div class="tab-content">
							    <div class="tab-pane panel panel-default active" id="core-direct">
								    <div class="panel-body container-fluid">
										<div class="core-group-icon col-sm-6 col-xs-12">
											<img src="../images/project/core/group1.jpg">
											<h4>随迁子女</h4>
										</div>
										<div class="core-group-icon col-sm-6 col-xs-12">
											<img src="../images/project/core/group2.jpg">
											<h4>留守儿童</h4>
										</div>
									</div>
							    </div>
							    <div class="tab-pane panel panel-default" id="core-indirect">
								    <div class="panel-body container-fluid">
										<div class="core-group-icon col-sm-4 col-xs-12">
											<img src="../images/project/core/group3.jpg">
											<h4>提供儿童服务的公益组织和社区</h4>
										</div>
										<div class="core-group-icon col-sm-4 col-xs-12">
											<img src="../images/project/core/group4.jpg">
											<h4>提供儿童服务的企业CSR</h4>
										</div>
										<div class="core-group-icon col-sm-4 col-xs-12">
											<img src="../images/project/core/group5.jpg">
											<h4>提供志愿服务的高校大学生</h4>
										</div>
									</div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="video">
			<div class="title">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					<h2>影像记录<span class="hidden-xs">/ YINGXIANGJILU</span></h2>
				</div>
			</div>
			<div class="container">
				<div class="record">
					<div class="panel panel-info col-md-8 col-sm-offset-2">
						<div class="panel-heading">影像记录</div>
						<div class="panel-body">
							<video src="../images/project/video.mp4" poster="../images/project/video_poster.jpg"controls preload>
								<source src="../images/project/video.mp4" type="video/mp4">
							   	<source src="../images/project/video.ogv" type="video/ogv">
								Your browser does not support the video tag.
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="activity">
			<div class="title">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					<h2>活动纪实<span class="hidden-xs">/ HUODONGJISHI</span></h2>
				</div>
			</div>
			<div class="container">
				<div class="newslist col-md-8 col-sm-offset-2">
					<div class="news-container col-md-4 col-sm-6" id="news12">
						<div class="content">
							<img class="thumb" src="../images/news/12/thumb.jpg">
							<h4>音画梦想入选蓝海计划</h4>
						</div>
					</div>
					<div class="news-container col-md-4 col-sm-6" id="news15">
						<div class="content">
							<img class="thumb" src="../images/news/15/thumb.jpg">
							<h4>福特基金会参观音画课程</h4>
						</div>
					</div>
					<div class="news-container col-md-4 col-sm-6" id="news18">
						<div class="content">
							<img class="thumb" src="../images/news/18/thumb.jpg">
							<h4>挑战鸡蛋暴走50km圆满成功</h4>
						</div>
					</div>
					<div class="news-container col-md-4 col-sm-6" id="news19">
						<div class="content">
							<img class="thumb" src="../images/news/19/thumb.jpg">
							<h4>入选北京福利彩票资助项目</h4>
						</div>
					</div>
					<div class="news-container col-md-4 col-sm-6" id="news20">
						<div class="content">
							<img class="thumb" src="../images/news/20/thumb.jpg">
							<h4>与JA中国20强团队亲密触电</h4>
						</div>
					</div>
					<div class="news-container col-md-4 col-sm-6" id="news21">
						<div class="content">
							<img class="thumb" src="../images/news/21/thumb.jpg">
							<h4>获优酷阳光90后先锋人物</h4>
						</div>
					</div>
					<button type="button" class="btn btn-info btn-lg btn-block col-md-8">查看更多</button>
				</div>
			</div>
		</div>
		<div id="volunteer">
			<div class="title">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					<h2>志愿者分享<span class="hidden-xs">/ ZHIYUANZHEFENXIANG</span></h2>
				</div>
			</div>
			<div class="container">
				<div class="panel panel-info col-md-8 col-sm-offset-2">
					<div class="panel-heading">志愿者对话</div>
					<div class="panel-body">
						<div class="dialog">
						  	<div class="dialog-left">
						      	<img class="dialog-object" src="../images/project/volunteer/liuchang.jpg">
						      	<h4 class="dialog-title">刘畅</h4>
						  	</div>
						  	<div class="dialog-body">
						    	<div class="dialog-container">
						    		<div class="arrow"></div>
						    		<div class="dialog-content">
						    			<p>加入音画日子，我的成长和收获都不止一点点。在这里，我感受到为流动儿童提供艺术教育的刻不容缓，体会到了那些孩子们求知的渴望，更为身边的这些小伙伴们所做的努力深深感动。</p>

						    			<p>音画梦想是一个大家庭，我在这里结识到好多姐妹，就像一家人，共同奋斗着。我积极联系着每个可能成为音画梦想合作伙伴的学校，关注着每个有可能加入音画的同学，把为音画梦想招募到最靠谱的志愿者作为我工作的骄傲。接下来的路，我愿与音画梦想共同成长，共同进步。</p>
						    		</div>
						    	</div>
						  </div>
						</div>
						<div class="dialog">
						  	<div class="dialog-left">
						      	<img class="dialog-object" src="../images/project/volunteer/linzhengqi.jpg">
						      	<h4 class="dialog-title">林峥琪</h4>
						  	</div>
						  	<div class="dialog-body">
							  	<div class="dialog-container">
						    		<div class="arrow"></div>
						    		<div class="dialog-content">
						    			<p>我叫林峥琪，是志愿者服务部绩效专员。加入音画时的我是一枚大一新生，起初申请绩效专员心里特别忐忑，因为感觉自己什么都不会。但是很开心的是，志愿者服务部接受了我。3月28日，我正式成为了志愿者服务部的一员。</p>

										<p>这里是个温暖的大家庭。志愿者服务部的成员们热烈地欢迎了我，还安慰我不会的东西可以慢慢学。这里聚集着那么多志同道合的人们，让我更加坚定了在“音画梦想”走下去的信念。</p>

										<p>我觉得来这里有一颗热爱慈善、想学习的心就足够，其他的根本不需要想太多。我会在这里好好工作，我爱这里！</p>
						    		</div>
						    	</div>
						  </div>
						</div>
						<div class="dialog">
						  	<div class="dialog-left">
						      	<img class="dialog-object" src="../images/project/volunteer/zhaohuan.jpg">
						      	<h4 class="dialog-title">赵嬛</h4>
						  	</div>
						  	<div class="dialog-body">
							  	<div class="dialog-container">
					    			<div class="arrow"></div>
					    			<div class="dialog-content">
					    				<p>我加入音画梦想的时间不长，却成长了很多很多。刚加入音画梦想时没觉着她有什么与众不同，渐渐地发现音画梦想真的不简单，音画人真的不简单！当有任务下达时，每个人都积极地、准时地完成；当遇到困难时，不管是哪个部门，大家都会参与其中，出谋划策。所以，音画梦想越来越强壮，音画人越来越厉害！渐渐地，我也被音画梦想的精神感染了——我总想倾尽全力、全心全意地做事情，事实上，我也在努力做到更好！</p>
					    			</div>
					    		</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}