{% extends 'layout.html' %}

{% block content %}

{% include 'navbar.html' %}
{% include 'focus.html' %}

<div class="container">
	<div class="row">
		<div class="col-md-4 title-content-m">
			<h2>个人捐赠</h2>
			<h2>项目合作</h2>
			<h2>企业资助</h2>
			<h2>媒体合作</h2>
		</div>
		<div class="col-md-8 title-content-m">
			<div class="row">
				<h2>个人捐赠<span>/ GERENJUANZENG</span></h2>
				<div class="">
					<div class="row">
						<div class="col-md-6">
							<div class="title">年报下载</div>
							<div class="content"></div>
						</div>
						<div class="col-md-6">
							<div class="title">才包下载</div>
							<div class="content"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>项目合作<span>/ XIANGMUHEZUO</span></h2>
				<div class="">
					<div class="row">
						<div class="col-md-6">
							<div class="title">年报下载</div>
							<div class="content"></div>
						</div>
						<div class="col-md-6">
							<div class="title">才包下载</div>
							<div class="content"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>企业资助<span>/ QIYEZIZHU</span></h2>
				<div class="">
					<div class="row">
						<div class="col-md-6">
							<div class="title">年报下载</div>
							<div class="content"></div>
						</div>
						<div class="col-md-6">
							<div class="title">才包下载</div>
							<div class="content"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>媒体合作<span>/ MEITIHEZUO</span></h2>
				<div class="">
					<div class="row">
						<div class="col-md-6">
							<ul>
								<li><a href="">《音画梦想会议制度》</a></li>
								<li><a href="">《音画梦想财务管理细则》</a></li>
								<li><a href="">《音画梦想档案管理制度》</a></li>
								<li><a href="">《音画梦想重大事项报告制度》</a></li>
								<li><a href="">《音画梦想印章管理制度》</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul>
								<li><a href="">《音画梦想信息披露制度》</a></li>
								<li><a href="">《音画梦想绩效考核制度》</a></li>
								<li><a href="">《音画梦想人力资源管理制度》</a></li>
								<li><a href="">《音画梦想财务管理制度》</a></li>
								<li><a href="">《音画梦想办公用品管理制度》</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'footer.html' %}
{% endblock %}
