{% extends 'layout.html' %}
{% block title %}支持我们{% endblock %}
{% block content %}

{% include 'navbar.html' %}
{% include 'focus.html' %}

<div class="ad-sup">
	<div class="ad-nav-scroll hidden-xs">
		<ul class="ad-nav-spy nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="#donate"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>个人捐赠</a></li>
			<li role="presentation"><a href="#project"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>项目合作</a></li>
			<li role="presentation"><a href="#enterprise"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>企业资助</a></li>
			<li role="presentation"><a href="#media"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>媒体合作</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="donate">
			<div class="title">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
					<h2>个人捐赠<span class="hidden-xs">/ GERENJUANZENG</span></h2>
				</div>
			</div>
			<div class="container">
				<div class="intro">
					<div class="col-md-8 col-sm-offset-2">
						每学期音画梦想会为流动儿童开设音乐、美术、摄影、舞蹈四门课程。如果你有相应的艺术专长，我们十分欢迎你加入音画梦想，成为我们的授课志愿者，去亲身感受一批孩子因你而形成的改变。当然，如果你没有充裕的时间或相应的艺术专长，你仍然可以通过认购孩子们的教学用具来帮助他们。
						我们相信世界的改变不是少数人做了许多，而是每个人都做了一点点。
						我们鼓励每个人参与公益事业，相信每个人都有能力影响和改变现状。
						我们将通过每月《Artdream一周汇》汇报阶段性工作成果，帮助您深入了解您的行动为孩子所带来的改变。
					</div>
				</div>
				<div class="way">
					<div class="panel panel-info col-md-8 col-sm-offset-2">
						<div class="panel-heading">捐款方式</div>
						<div class="panel-body">
							<ul class="nav nav-pills hidden-xs"  role="tablist">
							 	<li role="presentation" class="online active col-sm-4"><a href="#donate-online" aria-controls="donate-online" data-toggle="tab">在线捐款</a></li>
								<li role="presentation" class="bank col-sm-4"><a href="#donate-bank" aria-controls="donate-bank" data-toggle="tab">银行捐款</a></li>
								<li role="presentation" class="mail col-sm-4"><a href="#donate-mail" aria-controls="donate-mail" data-toggle="tab">邮汇捐款</a></li>
							</ul>
							<ul class="nav nav-pills visible-xs"  role="tablist">
							 	<li role="presentation" class="active col-xs-4"><a href="#donate-online" aria-controls="donate-online" data-toggle="tab">在线</a></li>
								<li role="presentation" class="col-xs-4"><a href="#donate-bank" aria-controls="donate-bank" data-toggle="tab">银行</a></li>
								<li role="presentation" class="col-xs-4"><a href="#donate-mail" aria-controls="donate-mail" data-toggle="tab">邮汇</a></li>
							</ul>
							<div class="tab-content">
							    <div class="tab-pane panel panel-default active" id="donate-online">
									<a href="http://www.ccafc.org.cn/templates/Donation/txxx.aspx?nodeid=5&projectid=4324" target="_blank" role="button"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>点击进入捐款网址</a>
							    </div>
							    <div class="tab-pane panel panel-default" id="donate-bank">
									<img class="hidden-xs" src="../images/support/donation/bank.png">
									<p>
										<b>开户银行：</b>中国银行北京分行西翠路支行<br/>
									    <b>户名：</b>中华少年儿童慈善救助基金会<br/>
									    <b>账号：</b>3207 5602 7856<br/>
									</p>
								    <p class="bank-notes">
								    	说明：请务必在备注栏内注明“童缘-音画梦想”！否则我们将无法收到善款。<br/>
								    	特别说明：如果您采用ATM机转账，请务必在转账后将汇款凭证拍照邮件发送至<strong>xingchen.wang@artdreamchina.org</strong>告知我们，谢谢。<br/>
								    </p>
							    </div>
							    <div class="tab-pane panel panel-default" id="donate-mail">
									<img class="hidden-xs" src="../images/support/donation/mail.png">
									<p>
										<b>单位名称：</b>中华少年儿童慈善救助基金会<br/>
										<b>地址：</b>北京市海淀区彰化路9号中扶国际4层<br/>
										<b>邮政编码：</b>100097<br/>
									</p>
								    <p class="mail-notes">
						    			说明：请务必在备注栏内注明“童缘-音画梦想”！否则我们将无法收到善款。
								    </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="money">
					<div class="panel panel-info col-md-8 col-sm-offset-2">
						<div class="panel-heading">捐助案例</div>
						<div class="panel-body">
							<div class="moneylist">
								<div class="money-container col-md-3 col-sm-6">
									<div class="content">
										<img src="../images/support/donation/money1.jpg">
										<h4><b>您的70元</b><br/>能使一个流动儿童拥有一学期多彩的美术课程</h4>
									</div>
								</div>
								<div class="money-container col-md-3 col-sm-6">
									<div class="content">
										<img src="../images/support/donation/money2.jpg">
										<h4><b>您的90元</b><br/>能使一个流动儿童拥有一学期动听的音乐课程</h4>
									</div>
								</div>
								<div class="money-container col-md-3 col-sm-6">
									<div class="content">
										<img src="../images/support/donation/money3.jpg">
										<h4><b>您的120元</b><br/>能帮助一个流动儿童参观一个不曾欣赏过的画廊风采</h4>
									</div>
								</div>
								<div class="money-container col-md-3 col-sm-6">
									<div class="content">
										<img src="../images/support/donation/money4.jpg">
										<h4><b>您的500元</b><br/>能使一个流动儿童拥有一学期生动的摄影课程</h4>
									</div>
								</div>
							</div>
							<p>请在捐赠后，将您的姓名，捐赠截图及联系方式（包括手机、邮箱）发送至xingchen.wang@artdreamchina.org，以便于我们更快地与您联系。</p>
						</div>
					</div>
				</div>
				<div class="problem">
					<div class="panel panel-info col-md-8 col-sm-offset-2">
						<div class="panel-heading">常见问题</div>
						<div class="panel-body">
							<ul class="panel-group" id="donate-q">
						    	<li class="panel">
				        			<a role="button" data-toggle="collapse" data-parent="#donate-q" href="#donate-q1" aria-expanded="false" class="collapsed">我捐的钱去了哪里？</a>
								    <p id="donate-q1" class="collapse">
								    	您所捐的每一分善款，都将转至音画梦想“流动儿童艺术教育”公益项目在中华少年儿童慈善救助基金会下的公募账户，善款将全部用于“流动儿童艺术教育”公益项目的开展。
								    </p>
						    	</li>
							    <li class="panel">
					        		<a role="button" data-toggle="collapse" data-parent="#donate-q" href="#donate-q2" aria-expanded="false" class="collapsed">我如何确认钱捐给了“流动儿童艺术教育项目”公益项目？</a>
								    <p id="donate-q2" class="collapse">
								    	您可以点击本页面左侧的“善款公示”链接，在中华少年儿童慈善救助基金会的善款公示页面进行查询，以监督善款的流向。<br/>
								        注：汇款通常有延迟，您可以在捐款后1-2个工作日后查看。
								    </p>
						    	</li>
						    	<li class="panel">
					        		<a role="button" data-toggle="collapse" data-parent="#donate-q" href="#donate-q3" aria-expanded="false" class="collapsed">我如何了解后续进展，监督善款的使用？</a>
								    <p id="donate-q3" class="collapse">
								    	Anim所有善款，将全部用于“音画梦想流动儿童艺术教育项目”在全国的执行和推广。 我们将通过音画梦想微信公众号、微博和官方网站，定期公布善款流向和项目进展，欢迎您添加关注，以监督我们，对每一分善款负责。<br/> 
										微信公众号：artdreambeijing<br/>
										新浪微博：北京音画梦想社会工作事务所<br/>
										官方网站：www.artdreamchina.org
								    </p>
						    	</li>
						    	<li class="panel">
						        	<a role="button" data-toggle="collapse" data-parent="#donate-q" href="#donate-q4" aria-expanded="false" class="collapsed">“音画梦想流动儿童艺术教育”项目服务包含什么？</a>
								    <p id="donate-q4" class="collapse">
								    	1）音乐课程（一周一次，一学期十次）<br/>
										2）美术课程（一周一次，一学期十次）<br/>
										3）摄影课程（一周一次，一学期十次）<br/>
										4）舞蹈课程（一周一次，一学期十次）<br/>
										5）流动儿童心理状况前后测评<br/>
										6）根据儿童心理状况数据对比修改艺术教材
								    </p>
								</li>
								<li class="panel">
						        	<a role="button" data-toggle="collapse" data-parent="#donate-q" href="#donate-q5" aria-expanded="false" class="collapsed">我如何能知道我资助地区的孩子在接受“音画梦想艺术教育课程”呢？你们如何监督项目的执行？</a>
								    <p id="donate-q5" class="collapse">
								    	我们通过如下方式对项目进行公开：<br/> 
								        1）通过微信、微博和官方网站进行半年度的工作报告披露；<br/>
								        2）每学期课程前后会针对儿童进行心理状况的前后调查并披露调查数据结果； <br/>
								        3）通过儿童心理状况的评估修改艺术教材
								    </p>
								</li>
						    	<li class="panel">
						        	<a role="button" data-toggle="collapse" data-parent="#donate-q" href="#donate-q6" aria-expanded="false" class="collapsed">我怎么样获取捐赠发票？</a>
								    <p id="donate-q6" class="collapse">
								    	您的捐赠发票将由中华少年儿童慈善救助基金会统一开据。开具和邮寄公益捐赠收据需要成本，建议100元以上的捐赠用户按需申请。 <br/>
							        	需要捐赠收据的必须将捐赠人姓名、开票抬头、金额、捐赠渠道、日期、联系电话、地址、邮编等信息发至beijing@artdreamchina.org，并附上“我的捐款”记录的截图或者是汇款凭证的照片，经音画梦想及中华少年儿童慈善救助基金会确认后，会尽快以挂号信方式寄出捐赠收据。请您耐心等待。
								    </p>
						    	</li>
						    	<li class="panel">
						        	<a role="button" data-toggle="collapse" data-parent="#donate-q" href="#donate-q7" aria-expanded="false" class="collapsed">我很想在除了捐款之外，捐一些物资或书籍给小朋友，你们可以帮忙吗?</a>
								    <p id="donate-q7" class="collapse">
								    	目前音画梦想在北京设有20个流动人口学校及社区授课点，上海地区设有2个流动人口学校授课点，如您有物资捐赠需求，欢迎发送至邮箱beijing@artdreamchina.org或者拨打电话18201652399与我们联系。我们十分乐于将您的爱心散播给更多需要的人。
								    </p>
						    	</li>
						  	</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="project">
			<div class="title">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
					<h2>项目合作<span class="hidden-xs">/ XIANGMUHEZUO</span></h2>
					<a class="btn btn-info"  role="button" href="/procooplist/p1">更多详情>></a>
				</div>
			</div>
			<div class="container">
				<div class="hidden-xs col-md-8 col-sm-offset-2">
					<div class="ad-sup-pro-c carousel">
						<p class="ad-sup-pro-ct carousel-title"></p>
						<img class="cloudcarousel"  src="../images/support/project/01.png" alt="美国福特基金会：好邻居项目"/>
						<img class="cloudcarousel"  src="../images/support/project/02.png" alt="南都公益基金会：蓝海计划"/>
						<img class="cloudcarousel"  src="../images/support/project/03.png" alt="上海联劝公益基金会：一个鸡蛋的暴走项目合作"/>
						<img class="cloudcarousel"  src="../images/support/project/04.png" alt="北京西部阳光农村发展基金会：桥畔计划"/>
						<img class="cloudcarousel"  src="../images/support/project/05.png" alt="中国麦田教育基金会：同行计划"/>
						<img class="cloudcarousel"  src="../images/support/project/06.png" alt="广东省与人公益基金会"/>
						<img class="cloudcarousel"  src="../images/support/project/07.png" alt="中华少年儿童慈善救助基金会：童缘中国项目"/>
						<img class="cloudcarousel"  src="../images/support/project/08.png" alt="深圳市公益基金会：中国慈善项目百强"/>
						<img class="cloudcarousel"  src="../images/support/project/09.png" alt="北京市恩派非营利组织发展中心：社会企业孵化项目"/>
						<img class="cloudcarousel"  src="../images/support/project/10.png" alt="中国发展简报"/>
						<img class="cloudcarousel"  src="../images/support/project/11.png" alt="腾讯公益慈善基金会"/>
						<img class="cloudcarousel"  src="../images/support/project/12.png" alt="明善公益网"/>
						<div class="ad-sup-pro-cl carousel-left"></div>
						<div class="ad-sup-pro-cr carousel-right"></div>
					</div>
				</div>
				<div class="thumbs visible-xs">
					<img src="../images/support/project/01.png" alt="美国福特基金会：好邻居项目"/>
					<img src="../images/support/project/02.png" alt="南都公益基金会：蓝海计划"/>
					<img src="../images/support/project/03.png" alt="上海联劝公益基金会：一个鸡蛋的暴走项目合作"/>
					<img src="../images/support/project/04.png" alt="北京西部阳光农村发展基金会：桥畔计划"/>
					<img src="../images/support/project/05.png" alt="中国麦田教育基金会：同行计划"/>
					<img src="../images/support/project/06.png" alt="广东省与人公益基金会"/>
					<img src="../images/support/project/07.png" alt="中华少年儿童慈善救助基金会：童缘中国项目"/>
					<img src="../images/support/project/08.png" alt="深圳市公益基金会：中国慈善项目百强"/>
					<img src="../images/support/project/09.png" alt="北京市恩派非营利组织发展中心：社会企业孵化项目"/>
					<img src="../images/support/project/10.png" alt="中国发展简报"/>
					<img src="../images/support/project/11.png" alt="腾讯公益慈善基金会"/>
					<img src="../images/support/project/12.png" alt="明善公益网"/>
				</div>
				<div class="coop-way panel panel-info col-md-8 col-sm-offset-2">
					<div class="panel-heading">合作方式</div>
					<div class="panel-body ">
						<h4>如果你是：</h4>
						<dl>
							<dt>基金会：</dt>
							<dd>如果您愿意与音画梦想进行项目合作或资助，共同在当地推广已开发的相关课程/服务，例如音画梦想音乐、美术、摄影和舞蹈等教材研发、流动儿童及留守儿童发展心理测评和音画梦想艺术课程等，或针对自身的某一现实需求委托音画梦想进行专业课程/服务研发。</dd>
							<dt>教育部门：</dt>
							<dd>如果您愿意将音画梦想的专业课程/服务引入本地。</dd>
							<dt>其他公益组织：</dt>
							<dd>如果您愿意与音画梦想合作，在您所服务区域和人群中开展我们已开发的相关艺术课程/服务。</dd>
						</dl>
						<h4>联系我们：</h4>
						<dl>
							<dt>电话：</dt>
							<dd>15201164378</dd>
							<dt>邮箱：</dt>
							<dd>beijing@artdreamchina.org</dd>
							<dt>新浪微博：</dt>
							<dd>@北京音画梦想社会工作事务所</dd>
							<dt>微信公众号：</dt>
							<dd>artdreambeijing</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div id="enterprise">
			<div class="title row">
				<div class="col-md-8 col-sm-offset-2">
					<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
					<h2>企业资助<span class="hidden-xs">/ QIYEZIZHU</span></h2>
					<a class="btn btn-info"  role="button" href="/entercooplist/p1">更多详情>></a>
				</div>
			</div>
			<div class="container">
				<div class="hidden-xs col-md-8 col-sm-offset-2">
					<div class="ad-sup-enter-c carousel">
						<p class="ad-sup-enter-ct carousel-title"></p>
						<img class="cloudcarousel"  src="../images/support/enterprise/01.png" alt="PWC普华永道会计师事务所"/>
						<img class="cloudcarousel"  src="../images/support/enterprise/02.png" alt="富士中国"/>
						<img class="cloudcarousel"  src="../images/support/enterprise/03.png" alt="佳能"/>
						<div class="ad-sup-enter-cl carousel-left"></div>
						<div class="ad-sup-enter-cr carousel-right"></div>
					</div>
				</div>
				<div class="visible-xs thumbs">
					<img src="../images/support/enterprise/01.png" alt="PWC普华永道会计师事务所"/>
					<img src="../images/support/enterprise/02.png" alt="富士中国"/>
					<img src="../images/support/enterprise/03.png" alt="佳能"/>
				</div>
				<div class="coop-way panel panel-info col-md-8 col-sm-offset-2">
					<div class="panel-heading">合作方式</div>
					<div class="panel-body">
						<p>如果您愿意支持中国教育，让更多的儿童获得音画梦想的艺术课程/服务，或者支持企业自身内部志愿者使用音画梦想的课程／产品进行志愿服务</p>
						<h4>联系我们：</h4>
						<dl>
							<dt>电话：</dt>
							<dd>15201164378</dd>
							<dt>邮箱：</dt>
							<dd>beijing@artdreamchina.org</dd>
							<dt>新浪微博：</dt>
							<dd>@北京音画梦想社会工作事务所</dd>
							<dt>微信公众号：</dt>
							<dd>artdreambeijing</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div id="media">
			<div class="title row">
				<div class="col-md-8 col-md-offset-2 col-sm-offset-2">
					<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
					<h2>媒体合作<span class="hidden-xs">/ MEITIHEZUO</span></h2>
					<a class="btn btn-info"  role="button" href="/mediacooplist/p1">更多详情>></a>
				</div>
			</div>
			<div class="container">
				<div class="hidden-xs col-md-8 col-sm-offset-2">
					<div class="ad-sup-med-c carousel">
						<p class="ad-sup-med-ct carousel-title"></p>
						<img class="cloudcarousel"  src="../images/support/media/01.png" alt="优酷网"/>
						<img class="cloudcarousel"  src="../images/support/media/02.png" alt="新浪公益"/>
						<img class="cloudcarousel"  src="../images/support/media/03.png" alt="腾讯网"/>
						<img class="cloudcarousel"  src="../images/support/media/04.png" alt="央视网"/>
						<img class="cloudcarousel"  src="../images/support/media/05.png" alt="凤凰艺术"/>
						<div class="ad-sup-med-cl carousel-left"></div>
						<div class="ad-sup-med-cr carousel-right"></div>
					</div>
				</div>
				<div class="thumbs visible-xs">
					<img src="../images/support/media/01.png" alt="优酷网"/>
					<img src="../images/support/media/02.png" alt="新浪公益"/>
					<img src="../images/support/media/03.png" alt="腾讯网"/>
					<img src="../images/support/media/04.png" alt="央视网"/>
					<img src="../images/support/media/05.png" alt="凤凰艺术"/>
				</div>
				<div class="coop-way panel panel-info col-md-8 col-sm-offset-2">
					<div class="panel-heading">合作方式</div>
					<div class="panel-body">
						<p>如果您对音画梦想的理念和工作认同并有兴趣深入了解，愿意帮助我们传播正能量。</p>
						<h4>联系我们：</h4>
						<dl>
							<dt>电话：</dt>
							<dd>15201164378</dd>
							<dt>邮箱：</dt>
							<dd>beijing@artdreamchina.org</dd>
							<dt>新浪微博：</dt>
							<dd>@北京音画梦想社会工作事务所</dd>
							<dt>微信公众号：</dt>
							<dd>artdreambeijing</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}