@import 'bootstrap/bootstrap';

//--------- components file -----------//
@import 'components/nav';
@import 'components/carousel';
@import 'components/navscroll';

//--------- foundation file -----------//
@import 'foundation/base';
@import 'foundation/config';

//--------- structures file -----------//
@import 'structures/title-content-m';
@import 'structures/footer';

//--------- parts file -----------//
@import 'parts/project';
@import 'parts/information';
@import 'parts/support';
@import 'parts/newslist';
@import 'parts/newsdetail';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: $body--bg;
}
ul,
li{
	list-style-type: none;
	margin:0;
	padding:0;
}
a {
  color: #00B7FF;
}
