body {
	position: absolute;
	left: 0;
	overflow-x: hidden;	
}
.ad-sup {
	position: relative;
	padding: 0;
	width: 100%;
	background: #fff;
	line-height: 1.5em;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	a, a:link, a:visited, a:hover, a:active {
		color: #00B7FF;
		text-decoration: none;
	}
	h2 {
		display: inline-block;
		font-size: 1.5em;
		color: #414141;
		span {
			font-family: "Microsoft Tai Le";
			color: #666;
		}
	}
	.title {
		height: 60px;
		background: #eee;
		line-height: 48px;
		.glyphicon {
			margin: 0 10px;
			font-size: 1.5em;
		}
		.btn {
			float: right;
			margin-top: 15px;
		    border-radius: 30px;
		    background: #eee;
		    border: 2px solid #eee;
		    color: #4FA3FB;
		    font-weight: bold;
		}
		.btn:hover {
		    background: #4FA3FB;
		    color: #fff;
		} 
	}
	.container {
		padding: 30px 15px;
	}
	.panel {
		border-color: #ccc;
		padding: 0;
	}
	.panel-heading {
		background: #4fa3fb;
		border: #4fa3fb;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
		color: #fff;
	}
	.carousel {
		position: relative;
		margin: 0 auto;
		max-width: 800px;
		width: 100%;
		height: 450px;
		overflow: hidden;
	}
	.cloudcarousel {		
		border: 1px solid #ccc;
		height: 180px;
		width: 180px;
		box-shadow: 0 5px 10px #666;
	}
	.carousel-title {
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
		border-radius: 20px;
	}
	.carousel-left, .carousel-right {
		position: absolute;
		bottom: 20px;
		width: 29px;
		height: 30px;
		overflow: hidden;
		cursor: pointer;
	}
	.carousel-left {
		right: 0;
		background: url(../images/support/carousel_right.png) no-repeat;
	}
	.carousel-right {
		left: 0;
		background: url(../images/support/carousel_left.png) no-repeat;
	}
	.thumbs {
		display: inline-block;
		margin-bottom: 10px;
		padding: 0 10px;
		text-align: center;
		img {
			margin: 2%;
			border: 1px solid #286090;
			width: 20%;
		}
	}
	.coop-way {
		line-height: 1.5em;
		h4 {
			font-weight: bold;
			color: #286090;
		}
		dl {
			margin-left: 1%;
		}
		dt {
		    float: left;
		}
		dd {
			margin-bottom: 6px;
		}
	}
	#donate {
		.intro{
			margin-bottom: 20px;
			line-height: 1.8em;
		}
		.way{
			word-break: break-all;
			.nav{
				margin-bottom: 15px;
			}
			li {
				margin-left: 0;
				padding: 0;				
				text-align: center;
				a{
					display: inline-block;
					border-radius: 6px;
					color: #333;	
				}
			}
			li.active a {
				background: #FF0D00;
				color: #fff;
			}
			li.online.active a {
				background: #00B7FF;
			}
			li.mail.active a {
				background: #008738;
			}
			.nav.visible-xs li a {
				padding: 6px 10px;
			}
			.tab-pane {
				margin: 0;
				padding: 10px 15px;
				overflow: hidden;
				a {
					display: block;
					text-align: center;
				}
				a:hover {
					text-decoration: underline;
					font-size: 1.2em;
					color: #286090;
				}
				img {
					float: left;
					margin: 0 10px;
					width: 120px;
				}
				p {
				 	overflow: hidden;
				}
			}	
			.mail-notes {
				margin-top: 10px;
				color: #008738;
			}
			.bank-notes {
				margin-top: 10px;
				color: #FF0D00;
			}
		}
		.money {
			.slogan {
				color: #aaa;
			}
			.moneylist {
				width: 100%;
				background: #fff;
				overflow: hidden;
			}
			.money-container {
				padding: 10px;
			}
			.content {
			    margin: 0px;
			    border: 1px solid #999;
			    padding: 4px;
			    height: 220px;
			    border-radius: 4px;
			    overflow: hidden;
			    cursor: pointer;
			    
			}
			.content:hover {
				img {
					height: 130px;
				}
			}
			img {
				margin: 0 auto;
				width: 100%;
				height: 180px;
				-webkit-transition: all 0.2s ease-in-out;
			    -o-transition: all 0.2s ease-in-out;
			    transition: all 0.2s ease-in-out;
			}
			h4 {
				margin-top: 3px;
				text-align: center;
			 	line-height: 25px;
			 	font-size: 1em;
			 	b {
			 		color: #286090;
			 	}
			}
			p {
				margin-top: 10px;
			}
		}
		.problem {
			ul {
				margin-bottom: 0;
				border: 3px solid #21CBBB;
			}
			li {
				margin: 0;
				border: none;
				border-radius: initial;
				box-shadow: none;
			}
			a {
				display: block;
				padding: 10px 20px;
				background: #21CBBB;
				color: #FFFFFF;
				box-shadow: 0px 0px 0px 1px rgba(155,155,155,.3), 
				 0px 2px 2px rgba(0,0,0,.1);
				-webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,.3), 
				 0px 2px 2px rgba(0,0,0,.1);
				-moz-box-shadow: 0px 0px 0px 1px rgba(155,155,155,.3), 
				 0px 2px 2px rgba(0,0,0,.1);
				&.collapsed {
					background: #E3FCED;
					color: #3B4E58;
					box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
					-webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
					-moz-box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
				}
				&:hover {
					background: #21CBBB;
					color: #FFFFFF;
				}
			}
			p {
				margin: 0 15px;
			}
			p:before {
				content: '';
				display: block;
				height: 10px;
			}
			p:after {
				content: '';
				display: block;
				height: 10px;
			}
		}
	}
	#project {
		.carousel-title {
			background: #F9E98B;
		}
	}		
	#enterprise {
		.carousel-title {
			background: #F2E7E7;
		}
	}
	#media {
		.carousel-title {
			background: #dff0d8;
		}
	}
}